* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unkempt", cursive;
}
.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(156, 178, 230, 1) 0%,
    rgba(186, 140, 255, 1) 100%
  );
}

.stopwatch-card {
  background: rgba(255, 255, 255, 0.5);
  padding: 5em 6rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  min-width: 280px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}
.stopwatch {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.button-group {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  font-size: 1.5em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.btn.start {
  background-color: #28a745;
  color: white;
}

.btn.stop {
  background-color: #dc3545;
  color: white;
}

.btn.reset {
  background-color: #6c757d;
  color: white;
}
